* {
    margin: 0;
}
/** .bg {
top:0;
bottom:0;
    position:fixed;
    width: 100%;
height: 100%;
opacity:0.22;
	background-image:url("images/4.jpg");
	
}
.bg:after{
content: "";
width: 100%;
position:absolute;
height: 100%;

top: 0;
  bottom: 0;
//	background-image:url("images/1.jpg");
//	opacity:0.2;
z-index:-1;
 }

**/

html, body{
position:relative;
	font-family: 'Noto Sans', sans-serif;
	margin:0px;
	color: #242424;
z-index:1;
height: 100%;
}

header{
    background-color: #b23d3c;
	color: #fff;
	font-size: 36px;
	font-weight: 100;
	text-decoration: none;
	padding: 3px;
	padding-top: 5px;
	padding-left: 2em;
position:relative;
z-index:1;
}

#site-title{
	background-color: #b23d3c;
	color: #fff;
	font-size: 36px;
	font-weight: 900;
	text-decoration: none;
	line-height: 48px;
	font-style: normal;
	z-index:1;
}

#email{
	text-decoration: none;
	font-weight: bold;
	color: #E74F4E;
}
#email:hover{
	color: #242424;
}


a:hover { 
     color: #242424;
}
  


 
#logo{
	width: 30%;
	vertical-align: bottom;
}

#nav > div {
 background-color: #b23d3c;
 opacity: 1;
 color: white;
 border: solid;
}

a {
    color: white;
    display: inline;
}

a:hover{
    text-decoration: underline;
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color:white;
}

a:link {
    color:white;
}

#mainbar {
padding: 3%;
}

.wrapper {
    
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -5em;
}

.wrapper:after {
    content: "";
    display: block;
    height: 5em;
}


.push {
    height: 9em;
    
}


footer{
	background-color: #403F3F;
	color: #D2CFCF;
	font-size: 14px;
	height: 5em;
	line-height: 48px;
	text-align: center;
//	vertical-align: bottom;
	letter-spacing: 2px;
// position:relative;
z-index:1;
}

